<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard fa-fw"></i>&nbsp;
            <span>{{ 'Painel de Gestão' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-at fa-fw"></i>&nbsp;
            <span>{{ 'Conta Digital' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;
            <span>{{ 'Ant.de Recebiveis' | translate }}</span>
        </a>
     
        
       

        <div class="header-fields">
            
           
        </div>
    </div>
    
</nav>
